<%# add navigation links to this file %>
<li class="<%= 'active' if @title == nil %>"><%= link_to "Home", root_path %></li>
<li class="<%= 'active' if @title == 'Help' %>"><%= link_to "Help", help_path %></li>
<li class="<%= 'active' if @title == 'About' %>"><%= link_to "About", about_path %></li>
<li class="<%= 'active' if @title == 'Contact' %>"><%= link_to "Contact", contact_path %></li>
<% if user_signed_in? %>
<li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Account <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to "Profile", edit_user_registration_path %></li>
		<li><%= link_to "Settings", '#' %></li>
		<li class="divider"></li>
		<li><%= link_to "Sign out", destroy_user_session_path, :method =>:delete %></li>
	</ul>
</li>

<% else %>
<li><%= link_to "Sign up", new_user_registration_path %></li>
<li ><%= link_to "Sign in", new_user_session_path %></li>
<% end %>